.advantages {
  padding-top: 97px;
  padding-bottom: 140px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 92px;
    padding-bottom: 95px;
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.advantages__container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 111px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0;
    min-width: $vp-320;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 55px;
  padding-left: 7px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 48px;
    padding-right: 20px;
    padding-left: 0;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    padding: 0 15px;
    text-align: center;
    padding-right: 30px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 34.75% 23.08% 34.65%;
  column-gap: 3.9%;
  row-gap: 155px;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 44px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 44px;
  }
}

.advantages__item {
  display: flex;
  position: relative;
  padding-left: 19px;
  padding-right: 7px;

  @include vp-1199 {
    padding-left: 0;
    padding-right: 0;
  }

  @include vp-767 {
    padding: 0 46px;
    flex-direction: column;
    text-align: center;
  }

  &--main {
    display: block;
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 40px 35px 35px 30px;
    background-color: $color-resolution-blue;
    color: $color-default-white;

    @include vp-1199 {
      grid-column: 1/3;
      grid-row: 2/3;
      margin-left: 118px;
      margin-right: 118px;
      padding: 13px 120px 42px 117px;
    }

    @include vp-767 {
      grid-column: 1/2;
      grid-row: 3/4;
      margin-left: 0;
      margin-right: 0;
      padding: 19px 70px 45px 68px;
    }
  }
}

.advantages__item:nth-child(2n+4)::after {
  @include pseudo();
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);
  left: 0;
  right: 20px;
  top: -80px;

  @include vp-1199 {
    display: none;
  }
}

.advantages__item:nth-child(2n+5)::after {
  @include pseudo();
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);
  left: 20px;
  right: 0;
  top: -80px;

  @include vp-1199 {
    display: none;
  }
}

.advantages__item-text-wrapper h3 {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2px;
  }
}

.advantages__item-number-wrapper {
  margin-top: -5px;

  @include vp-1199 {
    margin-top: 0;
  }
}

.advantages__item-number {
  display: block;
  font-weight: 700;
  font-size: 71px;
  line-height: 106px;
  margin-right: 30px;
  margin-top: -20px;

  background: linear-gradient(142.51deg, #d10a42 10%, #0041ca 87.33%);
  background-clip: text;
  color: transparent;

  @include vp-1199 {
    font-size: 58px;
    line-height: 87px;
  }

  @include vp-767 {
    margin-right: 0;
    background: linear-gradient(137.61deg, #d10a42 30%, #0041ca 65.58%);
    background-clip: text;
    color: transparent;
  }
}

.advantages__item-number-main {
  display: block;
  font-weight: 700;
  font-size: 74px;
  line-height: 111px;
  text-align: center;
}

.advantages__item-counter {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;
  margin-top: -23px;

  @include vp-1199 {
    margin-top: -19px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.advantages__item-counter-main {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 32px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 33px;
    margin-top: -18px;
    margin-bottom: 13px;
  }

  @include vp-767 {
    margin-top: -25px;
    margin-bottom: 10px;
  }
}

.advantages__item-text-wrapper p {
  margin: 0;
  line-height: 22px;

  @include vp-1199 {
    padding-right: 5px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.advantages__item-text-wrapper-main p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
