.application-form__fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;

  @include vp-1199 {
    gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    gap: 30px;
  }
}

.application-form__input input {
  border: none;
  border-bottom: 1px solid #74819c;
  background-color: transparent;
  padding: 7px 0;
  color: $color-neon-blue;
  width: 100%;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }

  &:hover {
    opacity: 0.6;
    border-color: $color-whisper;

    &::placeholder {
      color: $color-whisper;
    }
  }

  &:focus {
    border-color: $color-neon-blue;
    outline: none;
    opacity: 1;
  }

  &:disabled {
    opacity: 0.4;
  }
}
