.btn {
  display: inline-flex;
  padding: 27px 44px 28px 44px;
  color: $color-default-black;
  background-color: $color-transparent;
  border: 2px solid $color-default-black;
  cursor: pointer;
  transition: opacity $trans-default;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // @include hover-focus {
  //   opacity: 0.8;
  // }

  &:hover,
  &:focus {

    opacity: 0.7;
  }

  &:active {

    opacity: 0.5;
  }
}
