.btn {
  display: inline-flex;
  padding: 21px;
  color: $color-default-white;
  background-color: $color-transparent;
  border: 4px solid $color-default-white;
  cursor: pointer;
  transition: opacity $trans-default;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &--promo {
    width: 100%;
    padding: 24px 20px;

    @include vp-1199 {
      font-size: 10px;
      line-height: 12px;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 2px solid $color-default-white;
      margin-top: auto;
    }
  }

  &--main {
    min-width: 230px;

    @include vp-1199 {
      min-width: 183px;
    }

    @include vp-767 {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }
  }

  &--form {
    padding: 16px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    border-color: $color-whisper;
    color: $color-whisper;
  }

  &:active {
    opacity: 0.4;
    border-color: $color-whisper;
    color: $color-whisper;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
