.card {
width: 22.4%;
cursor: pointer;
height: 294px;
  min-width: 0;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}

.card__front img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.card__front {
  background-color: $color-chambray;
}

.card__back {
  display: none;
  overflow-y: auto;
  background: rgba(16, 38, 84, 0.89);
}

// .card:hover > .card__front {
//   display: none;
// }

.card:hover > .card__back {
  display: block;
}
