.coaches {
  padding-bottom: 140px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.coaches__title {
  margin: 0;
  margin-bottom: 48px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 31px;
    text-align: center;
    padding-right: 5px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
}

.coaches__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.coaches__container {
  position: relative;
}

.coaches__swiper-container {
  max-width: 100%;

  @include vp-1199 {
    width: 83.48%;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
    margin-left: 32px;
    margin-right: 32px;
    max-width: 700px;
    width: auto;
  }
}

.coaches__btn-prev.swiper-button-prev,
.coaches__btn-next.swiper-button-next {
  border: none;
  background-color: transparent;
  color: #afafaf;
}

.coaches__btn-prev.swiper-button-prev:hover,
.coaches__btn-next.swiper-button-next:hover,
.coaches__btn-prev.swiper-button-prev:focus,
.coaches__btn-next.swiper-button-next:focus {
  color: $color-resolution-blue;
}

.coaches__btn-prev.swiper-button-prev:active,
.coaches__btn-next.swiper-button-next:active {
  color: $color-neon-blue;
}

.coaches__btn-prev.swiper-button-prev {
  left: -5.4%;

  @include vp-1301 {
    left: -4%;
  }

  @include vp-1199 {
    left: -6px;
  }

  @include vp-767 {
    left: -8px;
  }
}

.coaches__btn-next.swiper-button-next {
  right: -5.4%;

  @include vp-1301 {
    right: -4%;
  }

  @include vp-1199 {
    right: -6px;
  }

  @include vp-767 {
    right: -8px;
  }
}

.coaches__btn-prev.swiper-button-prev::after,
.coaches__btn-next.swiper-button-next::after {
  font-size: 32px;

  @include vp-767 {
    font-size: 19px;
  }
}
