.header {
  padding-top: 30px;
  padding-bottom: 51px;
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  color: $color-default-white;

  @include vp-1199 {
    padding-bottom: 82px;
    background: conic-gradient(from 155.49deg at 20.7% 35.74%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }

  @include vp-767 {
    background: conic-gradient(from 167.26deg at 35.31% 34.22%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
    padding-top: 15px 0 80px 0;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include vp-1199 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 55px;
  }
}

.header__contacts-logo {
  width: 122px;
  height: 23px;
  margin-top: 15px;

  @include vp-1199 {
    margin-top: 10px;
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    margin-top: 5px;
    width: 69px;
    height: 14px;
  }
}

.header__contacts-logo .header__contacts-logo-icon {

  &:hover,
  &:focus {

    opacity: 0.6;
    color: $color-whisper;
  }

  &:active {

    opacity: 0.4;
    color: $color-whisper;
  }
}

.header__contacts-logo-icon {
  color: $color-default-white;
  transition: opacity $trans-default;
  width: 122px;
  height: 23px;

  @include vp-1199 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 69px;
    height: 14px;
  }
}

.header__contacts-tel {
  color: $color-default-white;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  transition: opacity $trans-default;

  @include vp-1199 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
  }

  &:hover,
  &:focus {

    opacity: 0.6;
    color: $color-whisper;
  }

  &:active {

    opacity: 0.4;
    color: $color-whisper;
  }
}

.header__main {
  display: grid;
  grid-template-columns: 39.65% 60.35%;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    column-gap: 4.4%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.header__main-info {
  padding: 98px 64px 0 19px;
  text-align: right;

  @include vp-1199 {
    padding: 57px 0 0 0;
  }

  @include vp-767 {
    padding: 0;
  }
}

.header__main-info-town {
  display: block;
  margin-bottom: 15px;
  padding-right: 50px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  text-align: right;

  @include vp-1199 {
    padding-right: 0;
    margin-bottom: 0;
    font-size: 34px;
    line-height: 41px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 34px;
  }
}

.header__main-info-name {
  display: inline-block;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 92px;
  line-height: 110px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-text-stroke: 4px $color-default-white;

  @include vp-1199 {
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: none;
  }
}

.header__main-info-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 50px;

  @include vp-1199 {
    grid-template-columns: 36% 59%;
    column-gap: 5%;
    margin-bottom: 20px;
  }

  @include vp-767 {
    grid-template-columns: 37.9% 62.1%;
    column-gap: 0;
    margin-bottom: 20px;
  }
}

.header__main-info-list {
  margin: 0;
  padding: 0;
  padding-top: 128px;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;

  @include vp-1199 {
    padding-top: 90px;
  }

  @include vp-767 {
    padding-top: 70px;
    margin-right: -10px;
  }
}

.header__main-photo {
  @include vp-767 {
    display: none;
  }

}

.header__main-photo img {
  margin-top: -20px;
  width: 500px;
  height: 556px;

  @include vp-1199 {
    margin-top: 0;
    width: 324px;
    height: 390px;

  }
}
