.offers {
  padding-top: 100px;
  padding-bottom: 117px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}

.offers__title {
  margin: 0;
  margin-bottom: 34px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
  line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.offers__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.offers__year-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 41.15% 58.85%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.offers__year {
  display: flex;
  flex-direction: column;
  background-color: $color-torch-red;
  padding: 44px 38px;
  color: $color-default-white;

  @include vp-767 {
   text-align: center;
  }
}

.offers__year-time {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
}

.offers__price {
  display: block;
  font-weight: 700;
  font-size: 70px;
  line-height: 109px;
  margin-top: -23px;
}

.offers__year p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  @include vp-767 {
    margin-bottom: 40px;
   }
}

.offers__year-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  border-bottom: 1px solid $color-default-white;

  &:hover,
  &:focus {
    opacity: 0.6;
    border-color: $color-whisper;
    color: $color-whisper;
  }

  &:active {
    opacity: 0.4;
    border-color: $color-whisper;
    color: $color-whisper;
  }
}

.offers__year-btn-wrapper {
  margin-top: auto;
}

.offers__year-photo img {

  @include vp-1199 {
    width: 100%;
    height: auto;
  }
}

.offers__general-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.offers__general {
  display: flex;
  flex-direction: column;
  padding: 35px;
  border: 7px solid;
  border-image: linear-gradient(175deg, #d10a42, #00359f) 25;
  color: $color-resolution-blue;
  height: 45.67%;

  @include vp-1199 {
    height: auto;
    min-height: 211px;
  }

  @include vp-767 {
    padding: 43px;
  }
}

.offers__general h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 25px;

  @include vp-767 {
    text-align: center;
   }
}

.offers__general p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    text-align: center;
   }
}

.offers__general--padding p {
  @include vp-1199 {
    padding-right: 20px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.offers__general-btn-wrapper {
  margin-top: auto;

  @include vp-767 {
    text-align: center;
   }
}

.offers__general-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-resolution-blue;
  border-bottom: 1px solid $color-resolution-blue;

  &:hover,
  &:focus {
    opacity: 0.6;
    border-color: $color-neon-blue;
    color: $color-neon-blue;
  }

  &:active {
    opacity: 0.4;
    border-color: $color-neon-blue;
    color: $color-neon-blue;
  }
}
