.promo {
  padding-top: 120px;
  padding-bottom: 106px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 72px;
    padding-bottom: 65px;
  }
}

.promo__wrapper {
  display: grid;
  grid-template-columns: 43.1% 56.9%;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promo__games {
  display: flex;
  flex-direction: column;
  background-color: $color-torch-red;
  padding: 85px 78px;
  color: $color-default-white;

  @include vp-1199 {
    padding: 51px 45px;
  }

  @include vp-767 {
    padding: 50px 44px;
    min-height: 292px;
  }
}

.promo__games-wrapper {
  margin-bottom: 11px;
  display: grid;
  grid-template-columns: 58% 29%;
  gap: 13%;

  @include vp-1199 {
    grid-template-columns: 57.92% 30.82%;
    gap: 11.26%;
    margin-bottom: 0;
  }
}

.promo__games-date-wrapper {
  display: flex;
}

.promo__games-title {
  margin: 0;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  text-align: center;
  letter-spacing: 0.03em;
  word-wrap: break-word;

  @include vp-1199 {
    font-size: 48px;
    line-height: 46px;
  }
}

.promo__games-info {
  display: inline-block;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 28px;
  }
}

.promo__games-info-container {
  margin-left: 7px;
}

.promo__games-info-wrapper {
  margin-bottom: 10px;

  @include vp-1199 {
    margin-bottom: 3px;
  }
}

.promo__games-subtitle {
  position: relative;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 5px;
  margin-top: -3px;

  &::after {
    @include pseudo;
    width: 88px;
    height: 1px;
    background-color: $color-default-white;
    bottom: 0;
    left: 0;

    @include vp-1199 {
      width: 56px;
    }
  }

  &--line {
    &::after {
      width: 64px;

      @include vp-1199 {
        width: 42px;
      }
    }
  }

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 3px;
  }
}

.promo__games-date,
.promo__games-time {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  word-wrap: break-word;

  @include vp-1199 {
    font-size: 24px;
    line-height: 36px;
  }
}

.promo__games-time {
  display: inline-block;
  margin-top: -5px;
}

.promo__games-date {
  padding-right: 7px;
  margin-top: -5px;
  word-wrap: break-word;

  @include vp-1199 {
    padding-right: 3px;
  }
}

.promo__games-month {
  padding-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 15px;
    padding-top: 0;
    margin-top: -3px;
  }
}

.promo__photo img {
  height: 100%;
  width: auto;
  object-fit: cover;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    width: 100%;
    height: 100%;
  }
}
