.subscription {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 67px;
  }

  &::before {
    @include pseudo();
    width: 285px;
    height: 330px;
    right: 0;
    bottom: -70px;
    background-image: url("../img/disks-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $vp-1200) {
      @media (min-resolution: 2dppx) {
        background-image: url("../img/disks-desktop-2x.png");
        width: 238px;
        height: 330px;
      }
    }

    @include vp-1199 {
      width: 347px;
      height: 298px;
      background-image: url("../img/disks-tablet.png");
      bottom: -50px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/disks-tablet-2x.png");
        width: 347px;
        height: 298px;
      }
    }

    @include vp-767 {
      display: none;
    }
  }
}

.subscription__title {
  margin: 0;
  margin-bottom: 22px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    padding-right: 15px;
    margin-bottom: 23px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}
